In [14]:
import requests
import pandas as pd
import json
from flask import Flask, request, render_template, jsonify

In [15]:
url = "https://spoonacular-recipe-food-nutrition-v1.p.rapidapi.com/recipes/searchComplex"

In [16]:
querystring = {"limitLicense": "<REQUIRED>",
	"offset": "0",
	"number": "100",
	"cuisine": "latinamerican",
    "instructionsRequired": "True",
    "fillIngredients": "True",
    "addRecipeInformation": "True"} ### CHANGE INGREDIENT TO WHAT YOU WANT

In [17]:
headers = {
    'x-rapidapi-key': "651aaa93a5msh16007951fa19705p181cc7jsnf87c2b4a7e46",
    'x-rapidapi-host': "spoonacular-recipe-food-nutrition-v1.p.rapidapi.com"
}

In [18]:
    response = requests.get(url, headers=headers, params=querystring)
    
    response_json = response.json()
    
    results = response_json['results']
    
    # consider making everything above part of a separate function
    #######################################

In [19]:
    recipe_ingredients = []
    recipe_steps = []
    
    # ingredients stuff
    for result in results:
        try:
            recipe_id = result['id']
            recipe_title = result['title']  
            analyzedInstructions = result['analyzedInstructions']
            
        except Exception as e:
            print('--- error with something ---')
            print(e)
            continue 

        instruction_steps = analyzedInstructions[0]['steps']        # Brooke addition

        counter = 0                                                 # Brooke addition

        for item in instruction_steps:                              # Brooke addition
            counter = counter + 1                                   # Brooke addition
            step = item['step']                                     # Brooke addition
            numbered_step = f'{counter}. {step}'                    # Brooke addition
            recipe_steps.append(numbered_step)                      # Brooke addition
        
        for instruction in analyzedInstructions:
            
            steps = instruction['steps']
            
            for step in steps:
                
                ingredients = step['ingredients']
                
                for ingredient in ingredients:
                    
                    ingredient_name = ingredient['name']
                    
                    recipe_ingredient = {
                        'recipe_id': recipe_id,
                        'recipe_title': recipe_title,
                        'ingredient_name': ingredient_name
                    }

                    recipe_ingredients.append(recipe_ingredient)

In [20]:
    recipe_df = pd.DataFrame(recipe_ingredients)

    

    recipe_df.head()

   recipe_id                recipe_title ingredient_name
0     723984  Cabbage Salad with Peanuts    green onions
1     723984  Cabbage Salad with Peanuts         cabbage
2     723984  Cabbage Salad with Peanuts           toast
3     723984  Cabbage Salad with Peanuts            nuts
4     723984  Cabbage Salad with Peanuts         cabbage

In [21]:
len(recipe_df)

1515

In [22]:
recipe_df['recipe_title'].value_counts()

Raspberry-Glazed Pork Chops with Pickled Onions                                          40
Spaghetti Squash Enchilada Casserole (with Chicken!)                                     38
Chicken Spinoccoli â€“ Breaded Stuffed Chicken Breast With Spinach, Broccoli and Cheese    37
Eggplant Timballo with Cavatelli                                                         33
Lemon-Paprika Roasted Salmon                                                             31
                                                                                         ..
Strawberry Banana Oatmeal Smoothie                                                        3
Tangy Tex-Mex Bell Pepper Slaw                                                            2
Cilantro Salsa                                                                            1
Chicken and Strawberry Poppy Seed Pasta Salad                                             1
Feta Cheese and Avocado Hummus Dip                                                        1
Name: recipe_title, Length: 98, dtype: int64

In [11]:
ingredients_df=recipe_df['ingredient_name'].value_counts().to_frame()

In [12]:
ingredients_df.head(20)

                   ingredient_name
cooking oil                     13
chimichurri                     13
salt                            10
olive oil                        8
garlic                           7
steak                            7
parsley                          7
onion                            6
avocado                          6
lime juice                       5
quinoa                           5
vinegar                          5
salt and pepper                  4
red pepper flakes                4
cilantro                         4
sauce                            4
lemon juice                      4
bread                            3
tuna                             3
carrot                           3

In [13]:
ingredients_df.to_csv("chinese.csv")